<!-- #####################################################################
#              Auction Software Marketplace 1.0.0                        #                                    
#              Customer License # [*]license[*]                          #
#    Copyright ©2014–2016 Develop Scripts LLC. All Rights Reserved       # 
#    This file may not be redistributed in whole or significant part.    # 
#            - AUCTION SOFTWARE  IS NOT FREE SOFTWARE -                  #
# http://www.auctionsoftwaremarketplace.com|support@auctionsoftware.com  #
##########################################################################  -->  
 <div class="col-md-12">
  <div class="row">
    <div class=" col-md-12">
      <div class="col-lg-3 col-md-6 ad-box">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <br><i class="fa fa-building fa-4x"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <h1><%= Bike.all.count %></h1>
                  <h3>BIKES</h3>
              </div>
            </div>
          </div>
          <%= link_to admin_bikes_path do %>
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
          <% end %>
        </div>
      </div>



      
     




    </div>
  </div>
</div>
