<div class="row top_tiles">
  <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
      <div class="count">179</div>
      <h3>Sales</h3>
      
    </div>
  </div>
  <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-comments-o"></i></div>
      <div class="count">179</div>
      <h3>Customers</h3>
    </div>
  </div>
  <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-sort-amount-desc"></i></div>
      <div class="count">179</div>
      <h3>Total Sales</h3>
    </div>
  </div>
</div>
<br><br>
<div class="row top_tiles">
  <div class="col-lg-4 col-md-4 col-sm-6"></div>
  <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
  <center>
    <div class="tile-stats">
      <div class="icon"></div>
       <p><%= greet(Time.now.hour) %></p>
      <div class="count"><%=  current_user.name if current_user %></div>
      <h3><%= current_user.show_room.name %></h3>
    </div>
    </center>
  </div>
  
</div>